<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="text-left error-box">
        <h1 class="bounceInDown animated alert alert-danger"><i class="fa fa-fw fa-warning fa-lg"></i> Sorry... You are not authorize to view this page!</h1>
        <p class="lead">
            Please click <a href="~/">here</a> to return to the home page.
        </p>
    </div>
</div>