<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="text-left error-box">
        <h1 class="bounceInDown animated alert alert-success"><i class="fa fa-fw fa-info fa-lg"></i> Reset password email sent!</h1>
        <p class="lead">
            Please check your email on instructions on how reset your password or click <a href="~/Account/Login">here</a> to login.
        </p>
    </div>
</div>