<div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="background-image: url(../img/demo/books.png);background-repeat:no-repeat; background-position:bottom center;">
        <br />
        <h5 class="about-heading" style="color:#8ec640; font-size:20px;">Welcome to the B-School Connection - Education Resource Center!</h5>
        <br />
        <p>
            If you do not have an account with us, please contact client services at <a href="mailto:pasclientservices@peregrineacademics.com">pasclientservices@peregrineacademics.com</a>.
        </p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </div>
</div>