@using PAS.ResourceCenter.Web.Administration.Helpers
@{
    ViewBag.PageId = "extr-page";
    ViewBag.PageClass = "animated fadeInDown";
}

<div id="content" class="container">
    <div class="row">
        @{ Html.RenderPartial("_ErrorText"); }
    </div>
</div>