<div id="content">
    <!-- row -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div>
                <a href="#" class="btn btn-default pull-right" style="margin-top: 8px; padding:2px 15px;">
                    <i class="fa fa-plus-circle" style="color:#8ec640;"></i>&nbsp;Create New
                </a>
            </div>
            <h1 class="page-title">
                <i class="fa-fw fa fa-institution"></i> Reviewers
            </h1>            
        </div>
    </div>
    <!-- end row -->
    <div class="row">
        <div class="col-sm-9">
            <div class="well padding-10">
                <div class="row">
                    <div class="col-md-12 padding-left-0">
                        <h3 class="margin-top-0">
                            <a href="javascript:void(0);">Larry Tunnell, Ph.D., CPA&nbsp;(<span class="fa fa-check" style="color:green;"></span>)</a>
                            <br />
                            <span style="font-size:14px; color:gray;">
                                Disciplines:&nbsp;
                                <span class="badge" style="font-weight:normal;">Accounting & Taxation</span>
                            </span>
                        </h3>
                        <p>
                            Larry Tunnell is Associate Professor and Head of the Department of Accounting and Information Systems at New Mexico State University. He is the author of numerous articles on federal income taxation, coauthor of Partnerships and LLCs: Tax Practice and Analysis, and a contributing author to CCH Federal Taxation: Comprehensive Volume. He has national public accounting experience, teaches tax courses at the undergraduate and graduate levels, and has won teaching awards at both the undergraduate and graduate levels. He received his Ph.D. at Oklahoma State University and an MPA and BBA from the University of Texas at Arlington.
                        </p>
                        <br />
                        <a class="btn btn-warning" href="javascript:void(0);">Edit</a>
                        <a class="btn btn-danger" href="javascript:void(0);">Delete</a>
                        <br />
                        <div style="margin-top:10px;">
                            <span style="font-size:11px; color:gray;">
                                Created on:&nbsp;Sunday, January 12, 2017 10:30 AM by PAS Administrator
                            </span>
                            <br />
                            <span style="font-size:11px; color:gray;">
                                Updated on:&nbsp;Sunday, January 12, 2017 10:30 AM by PAS Administrator
                            </span>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12 padding-left-0">
                        <h3 class="margin-top-0">
                            <a href="javascript:void(0);">James Richardson, Ph.D.&nbsp;(<span class="fa fa-check" style="color:green;"></span>)</a>
                            <br />
                            <span style="font-size:14px; color:gray;">
                                Disciplines:&nbsp;
                                <span class="badge" style="font-weight:normal;">Accounting & Taxation</span>
                            </span>
                        </h3>
                        <p>
                            James Richardson is Associate Professor of Management at the Shidler College of Business at the University of Hawaii at Manoa where he teaches entrepreneurship and strategy. Recent research projects have looked at social networks around venture capital in China, international variation in institutional support for entrepreneurship, and business models in strategy execution. He has published articles in Strategic Management Journal, Organization Science, and other leading management journals. He received his PhD from the Wharton School at The University of Pennsylvania, an SM in operations research from MIT, and a BA from the University of Hawaii. An avid surfer, he lives on the North Shore of Oahu where he runs Surflight Hawaii, a surfboard manufacturer based on a patented high performance soft surfboard technology.
                        </p>
                        <br />
                        <a class="btn btn-warning" href="javascript:void(0);">Edit</a>
                        <a class="btn btn-danger" href="javascript:void(0);">Delete</a>
                        <br />
                        <div style="margin-top:10px;">
                            <span style="font-size:11px; color:gray;">
                                Created on:&nbsp;Sunday, January 12, 2017 10:30 AM by PAS Administrator
                            </span>
                            <br />
                            <span style="font-size:11px; color:gray;">
                                Updated on:&nbsp;Sunday, January 12, 2017 10:30 AM by PAS Administrator
                            </span>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12 padding-left-0">
                        <h3 class="margin-top-0">
                            <a href="javascript:void(0);">Brian T. Kench, Ph.D.&nbsp;(<span class="fa fa-check" style="color:green;"></span>)</a>
                            <br />
                            <span style="font-size:14px; color:gray;">
                                Disciplines:&nbsp;
                                <span class="badge" style="font-weight:normal;">Economics</span>
                            </span>
                        </h3>
                        <p>
                            Brian T. Kench has built his career around the specialties of behavioral and experimental economics, microeconomics, and the economics of organization. He often serves as a consultant in the areas of economic damages and economic impact analysis, as well as an economic expert on Bloomberg TV, American Public Media¹s Marketplace, and local media outlets.
                        </p>
                        <p>
                            Dr. Kench earned a bachelor’s degree in 1994 from Framingham State University in Framingham, MA. He went on to study at The University of Connecticut, where he earned a masters degree in 1997 and a doctorate degree in 2000. At The University of Tampa, he teaches Intermediate Microeconomic Theory, Economics for Business Leaders, and Foundational Economics for Managers. He earned the Sykes College of Business Teaching Excellence Award in 2009 and 2012. In addition to his classroom work at UT, Dr. Kench is editor of The Tampa Bay Economy, a biannual publication of the Sykes College of Business.
                        </p>
                        <p>
                            He serves as co-director of the Adam Smith Society, UT¹s economics honor society, and is president-elect of the Academy of Business Economics. His works have been published in the Eastern Economic Journal, Journal of Economics and Economic Education Research, Journal of Financial Transformation, and Journal of Regulatory Economics. Dr. Kench earned the Sykes College of Business Researcher of the Year Award in 2008.
                        </p>
                        <br />
                        <a class="btn btn-warning" href="javascript:void(0);">Edit</a>
                        <a class="btn btn-danger" href="javascript:void(0);">Delete</a>
                        <br />
                        <div style="margin-top:10px;">
                            <span style="font-size:11px; color:gray;">
                                Created on:&nbsp;Sunday, January 12, 2017 10:30 AM by PAS Administrator
                            </span>
                            <br />
                            <span style="font-size:11px; color:gray;">
                                Updated on:&nbsp;Sunday, January 12, 2017 10:30 AM by PAS Administrator
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="well padding-10">
                <h5 class="margin-top-0"><i class="fa fa-search"></i>&nbsp;Search</h5>
                <div class="input-group col-sm-12 col-md-12 col-lg-12">
                    <input type="text" class="form-control" placeholder="Search by Name" 
                        data-autocomplete='[
			                "John Doe",
			                "Hacking the Need for a Full-Time Job"]' />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="well padding-10">
                <h5 class="margin-top-0">Disciplines</h5>
                <ul class="no-padding list-unstyled">
                    <li>
                        <b><a href="javascript:void(0);" class="margin-top-0">Accounting & Taxation</a></b>
                        <br />
                        <a href="javascript:void(0);" class="margin-top-0">&nbsp;&nbsp;&nbsp; - Larry Tunnell, Ph.D., CPA (3)</a>
                        <br />
                        <a href="javascript:void(0);" class="margin-top-0">&nbsp;&nbsp;&nbsp; - James Richardson, Ph.D. (8)</a>
                    </li>
                    <li>
                        <b><a href="javascript:void(0);" class="margin-top-0">Economics</a></b>
                        <br />
                        <a href="javascript:void(0);" class="margin-top-0">&nbsp;&nbsp;&nbsp; - Brian T. Kench, Ph.D. (1)</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>