<div id="content">
    <!-- row -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div>
                <a href="#" class="btn btn-default pull-right" style="margin-top: 8px; padding:2px 15px;">
                    <i class="fa fa-plus-circle" style="color:#8ec640;"></i>&nbsp;Create New
                </a>
            </div>
            <h1 class="page-title">
                <i class="fa-fw fa fa-institution"></i> Reviewers
            </h1>            
        </div>
    </div>
    <!-- end row -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="well padding-10">
                <h5 class="margin-top-0"><i class="fa fa-search"></i>&nbsp;Search</h5>
                <div class="input-group col-sm-12 col-md-12 col-lg-12">
                    <input type="text" class="form-control" placeholder="Search by Name"
                           data-autocomplete='[
			                "John Doe",
			                "Hacking the Need for a Full-Time Job"]' />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="well padding-10">
                <div class="row">
                    <div class="col-md-12 padding-left-0">
                        <div>
                            <a href="javascript:void(0);" style="font-family:'Times New Roman'; font-size:24px;">Larry Tunnell, Ph.D., CPA&nbsp;(<span class="fa fa-check" style="color:green;"></span>)</a>
                            <div class="pull-right">
                                <a class="btn btn-default" href="javascript:void(0);"><i class="fa fa-pencil"></i>&nbsp;Edit</a>
                                <a class="btn btn-default" href="javascript:void(0);"><i class="fa fa-comments"></i>&nbsp;Reviews (4)</a>
                            </div>
                        </div>
                        <h3 class="margin-top-0">
                            <span style="font-size:13px; color:gray;">
                                Name:&nbsp;Tunnel, Larry A
                                <br />
                                Email:&nbsp;test@test.com
                                <br />
                                Hidden:&nbsp;No
                                <br />
                                Active:&nbsp;No
                                <br />
                                Disciplines:&nbsp;
                                <span class="badge" style="font-weight:normal;">Accounting & Taxation</span>
                            </span>
                            <br />
                            <span style="font-size:13px; color:gray;">
                                Biography:&nbsp;
                            </span>
                        </h3>
                        <p style="text-align:justify; margin-top:-12px;">
                            Larry Tunnell is Associate Professor and Head of the Department of Accounting and Information Systems at New Mexico State University. He is the author of numerous articles on federal income taxation, coauthor of Partnerships and LLCs: Tax Practice and Analysis, and a contributing author to CCH Federal Taxation: Comprehensive Volume. He has national public accounting experience, teaches tax courses at the undergraduate and graduate levels, and has won teaching awards at both the undergraduate and graduate levels. He received his Ph.D. at Oklahoma State University and an MPA and BBA from the University of Texas at Arlington.
                        </p>
                        <div style="margin-top:10px;">
                            <span style="font-size:11px; color:gray;">
                                Created on:&nbsp;Sunday, January 12, 2017 10:30 AM by PAS Administrator
                            </span>
                            <br />
                            <span style="font-size:11px; color:gray;">
                                Updated on:&nbsp;Sunday, January 12, 2017 10:30 AM by PAS Administrator
                            </span>
                        </div>
                    </div>
                </div>
                <hr />
            </div>
        </div>
    </div>
</div>