<div id="content">
    <!-- row -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa-fw fa fa-file"></i> Guides <span>
                    >
                    Edit Quiz Questions
                </span>
            </h1>
        </div>
    </div>
    <div class="row" style="margin-top:8px; margin-left:0px; margin-right:0px; font-size:16px; padding:8px; border:solid 1px #ccc;">
        <div class="pull-right" style="margin-bottom:6px;">
            <a href="~/Home/SampleInstructorReviewView" class="btn btn-info btn-xs">
                View
            </a>
        </div>
        <span style="font-size:13px; font-weight:bold; color:#f25a2b;">WEEKLY INSTRUCTOR GUIDE</span>
        <br />
        <a href="~/Home/SampleInstructorReviewView">Top GOP Senator Signals Tax Plan's Permanence Is 'Up in the Air'</a>
        <br />
        <span style="font-size:14px; color:gray;">Issue:&nbsp;<a href="javascript:void(0);">04-10-17</a></span>
        <br />
        <span style="font-size:14px; color:gray;">Reviewer:&nbsp;<a href="javascript:void(0);">Larry Walther, Ph.D., CPA, CMA</a></span>
        <br />        
    </div>
    <div class="row" style="margin-top:8px; margin-left:0px; margin-right:0px;">
        <article class="col-sm-12 col-md-12 col-lg-12" style="padding:8px; border:solid 1px #ccc;">
            <div class="pull-left">
                <b style="color:#00aaab;">&nbsp;QUIZ QUESTIONS</b>
            </div>
            <div class="pull-right" style="margin-bottom:6px;">
                <a href="#" class="btn btn-default btn-xs" data-toggle="modal" data-target="#divmodalcreatearticle">
                    <i class="fa fa-plus-circle text-success"></i>&nbsp;Create New
                </a>
            </div>
            <table id="tableArticles" class="table table-hover table-condensed gridview" style="width:100%;">
                <thead>
                    <tr>
                        <th style="width:78px; min-width:78px;"></th>
                        <th data-class="expand" style="text-align:center;">Question / Answer</th>
                        <th data-hide="phone" style="text-align:center; width:30px;">Enabled</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="btn-group">
                                <a href="#" data-toggle="modal" data-target="#" class="btn btn-default btn-xs">&nbsp;<i class="fa fa-pencil"></i></a>
                                <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
                                    <span class="caret" />
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#" data-toggle="modal" data-target="#"><i class="fa fa-remove"></i>&nbsp;&nbsp;Delete</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td style="text-align:left">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occa?
                        <br /><span style="color:orangered;">Answer: Apraesentium voluptatum deleniti atque</span></td>
                        <td style="text-align:center"><span class="fa fa-check" style="color:green;"></span></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="btn-group">
                                <a href="#" data-toggle="modal" data-target="#" class="btn btn-default btn-xs">&nbsp;<i class="fa fa-pencil"></i></a>
                                <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
                                    <span class="caret" />
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#" data-toggle="modal" data-target="#"><i class="fa fa-remove"></i>&nbsp;&nbsp;Delete</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td style="text-align:left">
                            1. What is end enim a m dolor sit amet, consectetur adipiscing elit. Ut non liber feugiat?
                            <br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a. Option 1
                            <br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;b. Option 2
                            <br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;c. Option 3
                            <br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;d. Option 4
                            <br /><span style="color:orangered;">Answer: c. Option 3</span>
                        <td style="text-align:center"><span class="fa fa-check" style="color:green;"></span></td>
                    </tr> 
                    <tr>
                        <td>
                            <div class="btn-group">
                                <a href="#" data-toggle="modal" data-target="#" class="btn btn-default btn-xs">&nbsp;<i class="fa fa-pencil"></i></a>
                                <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
                                    <span class="caret" />
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#" data-toggle="modal" data-target="#"><i class="fa fa-remove"></i>&nbsp;&nbsp;Delete</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td style="text-align:left">1. What is end enim a m dolor sit amet, consectetur adipiscing elit. Ut non liber feugiat?
<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a. Option 1
<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;b. Option 2
<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;c. Option 3
<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;d. Option 4
                        <br /><span style="color:orangered;">Answer: c. Option 3</span>
                        <td style="text-align:center"><span class="fa fa-check" style="color:green;"></span></td>
                    </tr>   
                    <tr>
                        <td>
                            <div class="btn-group">
                                <a href="#" data-toggle="modal" data-target="#" class="btn btn-default btn-xs">&nbsp;<i class="fa fa-pencil"></i></a>
                                <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
                                    <span class="caret" />
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#" data-toggle="modal" data-target="#"><i class="fa fa-remove"></i>&nbsp;&nbsp;Delete</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td style="text-align:left">
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occa?
                            <br /><span style="color:orangered;">Answer: Apraesentium voluptatum deleniti atque</span>
                        </td>
                        <td style="text-align:center"><span class="fa fa-check" style="color:green;"></span></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="btn-group">
                                <a href="#" data-toggle="modal" data-target="#" class="btn btn-default btn-xs">&nbsp;<i class="fa fa-pencil"></i></a>
                                <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
                                    <span class="caret" />
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#" data-toggle="modal" data-target="#"><i class="fa fa-remove"></i>&nbsp;&nbsp;Delete</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td style="text-align:left">
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occa?
                            <br /><span style="color:orangered;">Answer: Apraesentium voluptatum deleniti atque</span>
                        </td>
                        <td style="text-align:center"><span class="fa fa-check" style="color:green;"></span></td>
                    </tr>
                </tbody>
            </table>
        </article>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />