<div id="content">
    <!-- row -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div>
                <a href="@Url.Action("CreateReview", "Home")" class="btn btn-default pull-right" style="margin-top: 8px; padding:2px 15px;">
                    <i class="fa fa-plus-circle" style="color:#8ec640;"></i>&nbsp;Create New
                </a>
            </div>
            <h1 class="page-title">
                <i class="fa-fw fa fa-file"></i> Reviews
            </h1>            
        </div>
    </div>
    <!-- end row -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
            <div id="gridsearch-filter" class="panel panel-default collapsable">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#gridsearch-filter" data-animate="true"
                       href="#gridsearch-fields" style={{ color: 'inherit' }}>
                        <i class="fa fa-angle-down toggler"></i>
                        &nbsp;Filter results using the criteria below
                    </a>
                </div>
                <div id="gridsearch-fields" class="panel-body fields collapse in">
                    <div class="input-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <input type="text" class="form-control" placeholder="Search by Title"
                               data-autocomplete='[
			                "America’s Retailers Are Closing Stores Faster Than Ever",
			                "Hacking the Need for a Full-Time Job",
			                "Lies, Damn Lies, and Financial Statistics",
			                "The Taming of a Teen Emporium",
			                "Show Us Your Tax Reforms"]' />
                    </div>
                    <div class="input-group" style="margin-left:-12px;">
                        <div class="col-sm-12 col-md-12 col-lg-12" style="margin-top:6px;">
                            <b style="font-size:10px;">FILTER BY</b>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top:6px;">
                            <select class="select2" multiple placeholder="Guide">
                                <option value="1">Instructor Guide</option>
                                <option value="2">Edge Guide</option>
                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top:6px;">
                            <select class="select2" multiple placeholder="Issues">
                                <option value="1">Issue 01-03-17</option>
                                <option value="2">Issue 01-10-17</option>
                                <option value="3">Issue 01-17-17</option>
                                <option value="4">Issue 01-23-17</option>
                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top:6px;">
                            <select class="select2" multiple placeholder="Reviewer">
                                <option value="1">Larry Tunnell, Ph.D., CPA</option>
                                <option value="2">David George Vequist IV, Ph.D.</option>
                                <option value="3">Craig A. Turner, Ph.D.</option>
                                <option value="4">John A. Doe</option>
                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top:6px;">
                            <select class="select2" multiple placeholder="Discipline & Topics">
                                <option value="1">Accounting and Taxation</option>
                                <option value="2">&nbsp;&nbsp;&nbsp;- Financial Accounting</option>
                                <option value="3">&nbsp;&nbsp;&nbsp;- Taxation</option>
                                <option value="4">Business Fundamentals</option>
                                <option value="5">&nbsp;&nbsp;&nbsp;- Accounting</option>
                                <option value="6">&nbsp;&nbsp;&nbsp;- Management</option>
                                <option value="7">&nbsp;&nbsp;&nbsp;- MIS</option>
                                <option value="8">Business Law</option>
                                <option value="9">&nbsp;&nbsp;&nbsp;- Securities</option>
                                <option value="10">Economics</option>
                                <option value="11">&nbsp;&nbsp;&nbsp;- Microeconomics</option>
                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top:6px;">
                            <select class="select2" multiple placeholder="Sectors">
                                <option value="1">Consumer Goods and Services</option>
                                <option value="2">Energy</option>
                                <option value="3">Financial Services</option>
                                <option value="4">Government</option>
                                <option value="5">Healthcare</option>
                                <option value="6">Manufacturing</option>
                                <option value="7">Sports and Entertainment</option>
                                <option value="8">Business Law</option>
                                <option value="9">Technology</option>
                                <option value="10">Economics</option>
                                <option value="11">Transportation</option>
                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top:6px;">
                            <select class="select2" multiple placeholder="Competencies">
                                <option value="1">Communication</option>
                                <option value="2">Critical Thinking/Decision-Making</option>
                                <option value="3">Ethics</option>
                                <option value="4">Global Awareness</option>
                                <option value="5">Innovation/Entrepreneurship</option>
                                <option value="6">Leadership</option>
                                <option value="7">Sustainability</option>
                                <option value="8">Business Law</option>
                                <option value="9">Technology</option>
                                <option value="10">Economics</option>
                                <option value="11">Transportation</option>
                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top:6px;">
                            <select class="select2" multiple placeholder="Regions">
                                <option value="1">Africa</option>
                                <option value="2">Asia/Oceania</option>
                                <option value="3">Europe</option>
                                <option value="4">Latin America</option>
                                <option value="5">North America</option>
                                <option value="6">The Middle East</option>
                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top:6px;">
                            <select class="select2" multiple placeholder="Published Status">
                                <option value="1">Published</option>
                                <option value="2">Unpublished</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pull-left">
                <div class="search-result-rec-count hidden-xs" style="margin-left:-5px; font-size:13px;">
                    &nbsp;&nbsp;Showing <b>1</b>-<b>4</b> of <b>4</b>
                    &nbsp;&nbsp;Records (<i>4</i> found<sup>1</sup>)
                </div>
            </div>
            <div class="pull-right">
                <div style="margin-bottom:15px; margin-right:-10px;">
                    <button id="buttonSearch" class="btn btn-primary" onClick="">
                        <span class="hidden-xs">Search</span>
                        <span class="visible-xs"><i class="fa fa-search"></i>&nbsp;Search</span>
                    </button>
                    &nbsp;
                    <button class="btn btn-default" onClick="">
                        <span class="hidden-xs">Reset</span>
                        <span class="visible-xs"><i class="fa fa-undo"></i></span>
                    </button>
                    &nbsp;
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 well padding-10">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <img src="~/img/articles/article-1.png" class="img-responsive" style="border:solid 1px #ececec" alt="img">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 padding-left-0">
                        <h3 class="margin-top-0">
                            <span style="font-size:13px; font-weight:bold; color:#f25a2b;">WEEKLY INSTRUCTOR GUIDE</span>
                            <br />
                            <a href="javascript:void(0);" style="font-size:26px; font-family:'Times New Roman';">Top GOP Senator Signals Tax Plan's Permanence Is 'Up in the Air'</a>
                            <br />
                            <span style="font-size:13px; color:gray;">Issue:&nbsp;<a href="javascript:void(0);">04-10-17</a></span>
                            <br />
                            <span style="font-size:13px; color:gray;">Reviewer:&nbsp;<a href="javascript:void(0);">Larry Walther, Ph.D., CPA, CMA</a></span>
                            <br />
                            <span style="font-size:13px; color:gray;">
                                Disciplines:&nbsp;
                                <span class="badge" style="font-weight:normal;">Accounting & Taxation | Taxation</span>
                                <span class="badge" style="font-weight:normal;">Economics | Microeconomics</span>
                            </span>
                            <br />
                            <span style="font-size:13px; color:gray;">
                                Sectors:&nbsp;
                                <span class="badge" style="font-weight:normal;">Energy</span>
                                <span class="badge" style="font-weight:normal;">Economics</span>
                            </span>
                            <br />
                            <span style="font-size:13px; color:gray;">
                                Competencies:&nbsp;
                                <span class="badge" style="font-weight:normal;">Ethics</span>
                            </span>
                            <br />
                            <span style="font-size:13px; color:gray;">
                                Region:&nbsp;
                                <span class="badge" style="font-weight:normal;">North America</span>
                            </span>
                            <br />
                            <span style="font-size:13px; color:gray;">
                                Published by:&nbsp;PAS Administrator on Sunday, January 12, 2017 10:30 AM
                            </span>
                        </h3>
                        <p style="text-align:justify;">
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
                            <br />
                            <br />
                            Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.
                            <br />
                            <br />
                        </p>
                        <a class="btn btn-primary" href="~/Home/SampleInstructorReviewView">View</a>
                        <br />
                        <div style="margin-top:10px;">
                            <span style="font-size:11px; color:gray;">
                                Created on:&nbsp;Sunday, January 12, 2017 10:30 AM by PAS Administrator
                            </span>
                            <br />
                            <span style="font-size:11px; color:gray;">
                                Updated on:&nbsp;Sunday, January 12, 2017 10:30 AM by PAS Administrator
                            </span>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <img src="~/img/articles/article-2.png" class="img-responsive" alt="img">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 padding-left-0">
                        <h3 class="margin-top-0">
                            <span style="font-size:13px; font-weight:bold; color:#f25a2b;">WEEKLY INSTRUCTOR GUIDE</span>
                            <br />
                            <a href="javascript:void(0);" style="font-size:26px; font-family:'Times New Roman';">America’s Retailers Are Closing Stores Faster Than Ever</a>
                            <br />
                            <span style="font-size:14px; color:gray;">Issue:&nbsp;<a href="javascript:void(0);">04-10-17</a></span>
                            <br />
                            <span style="font-size:14px; color:gray;">Reviewer:&nbsp;<a href="javascript:void(0);">John A. Doe</a></span>
                            <br />
                            <span style="font-size:14px; color:gray;">
                                Disciplines:&nbsp;
                                <span class="badge" style="font-weight:normal;">Accounting & Taxation | Taxation</span>
                            </span>
                            <br />
                            <span style="font-size:14px; color:gray;">
                                Sectors:&nbsp;
                                <span class="badge" style="font-weight:normal;">Energy</span>
                                <span class="badge" style="font-weight:normal;">Economics</span>
                            </span>
                            <br />
                            <span style="font-size:14px; color:gray;">
                                Competencies:&nbsp;
                                <span class="badge" style="font-weight:normal;">Ethics</span>
                            </span>
                            <br />
                            <span style="font-size:14px; color:gray;">
                                Region:&nbsp;
                                <span class="badge" style="font-weight:normal;">North America</span>
                            </span>
                            <br />
                            <span style="font-size:14px; color:gray;">
                                Published by:&nbsp;<span style="color:#f25a2b">Unpublished</span>
                            </span>
                        </h3>
                        <p>
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum de. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.
                        </p>
                        <a class="btn btn-primary" href="~/Home/SampleInstructorReviewView">View</a>
                        <a class="btn btn-warning" href="~/Home/EditInstructorReview">Edit</a>
                        <a class="btn btn-success" href="javascript:void(0);">Publish</a>
                        <br />
                        <div style="margin-top:10px;">
                            <span style="font-size:11px; color:gray;">
                                Created on:&nbsp;Sunday, January 12, 2017 10:30 AM by PAS Administrator
                            </span>
                            <br />
                            <span style="font-size:11px; color:gray;">
                                Updated on:&nbsp;Sunday, January 12, 2017 10:30 AM by PAS Administrator
                            </span>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <img src="~/img/articles/article-3.png" class="img-responsive" alt="img">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 padding-left-0">
                        <h3 class="margin-top-0">
                            <span style="font-size:13px; font-weight:bold; color:#8ec640;">EDGE GUIDE</span>
                            <br />
                            <a href="javascript:void(0);" style="font-size:26px; font-family:'Times New Roman';">Hacking the Need for a Full-Time Job</a>
                            <br />
                            <span style="font-size:14px; color:gray;">Issue:&nbsp;<a href="javascript:void(0);">04-10-17</a></span>
                            <br />
                            <span style="font-size:14px; color:gray;">Reviewer:&nbsp;<a href="javascript:void(0);">John A. Doe</a></span>
                            <br />
                            <span style="font-size:14px; color:gray;">
                                Disciplines:&nbsp;
                                <span class="badge" style="font-weight:normal;">Accounting & Taxation | Taxation</span>
                                <span class="badge" style="font-weight:normal;">Economics | Microeconomics</span>
                            </span>
                            <br />
                            <span style="font-size:14px; color:gray;">
                                Sectors:&nbsp;
                                <span class="badge" style="font-weight:normal;">Energy</span>
                                <span class="badge" style="font-weight:normal;">Economics</span>
                            </span>
                            <br />
                            <span style="font-size:14px; color:gray;">
                                Competencies:&nbsp;
                                <span class="badge" style="font-weight:normal;">Ethics</span>
                            </span>
                            <br />
                            <span style="font-size:14px; color:gray;">
                                Region:&nbsp;
                                <span class="badge" style="font-weight:normal;">South East Asia</span>
                            </span>
                            <br />
                            <span style="font-size:14px; color:gray;">
                                Published by:&nbsp;PAS Administrator on Sunday, January 12, 2017 10:30 AM
                            </span>
                        </h3>
                        <p>
                            Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.
                        </p>
                        <a class="btn btn-primary" href="~/Home/SampleEdgeReviewView">View</a>
                        <br />
                        <div style="margin-top:10px;">
                            <span style="font-size:11px; color:gray;">
                                Created on:&nbsp;Sunday, January 12, 2017 10:30 AM by PAS Administrator
                            </span>
                            <br />
                            <span style="font-size:11px; color:gray;">
                                Updated on:&nbsp;Sunday, January 12, 2017 10:30 AM by PAS Administrator
                            </span>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <img src="~/img/articles/article-4.png" class="img-responsive" alt="img">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 padding-left-0">
                        <h3 class="margin-top-0">
                            <span style="font-size:13px; font-weight:bold; color:#8ec640;">EDGE GUIDE</span>
                            <br />
                            <a href="javascript:void(0);" style="font-size:26px; font-family:'Times New Roman';">The Taming of a Teen Emporium</a>
                            <br />
                            <span style="font-size:14px; color:gray;">Issue:&nbsp;<a href="javascript:void(0);">04-10-17</a></span>
                            <br />
                            <span style="font-size:14px; color:gray;">Reviewer:&nbsp;<a href="javascript:void(0);">John A. Doe</a></span>
                            <br />
                            <span style="font-size:14px; color:gray;">
                                Disciplines:&nbsp;
                                <span class="badge" style="font-weight:normal;">Accounting & Taxation | Taxation</span>
                                <span class="badge" style="font-weight:normal;">Economics | Microeconomics</span>
                            </span>
                            <br />
                            <span style="font-size:14px; color:gray;">
                                Sectors:&nbsp;
                                <span class="badge" style="font-weight:normal;">Energy</span>
                                <span class="badge" style="font-weight:normal;">Economics</span>
                            </span>
                            <br />
                            <span style="font-size:14px; color:gray;">
                                Competencies:&nbsp;
                                <span class="badge" style="font-weight:normal;">Ethics</span>
                            </span>
                            <br />
                            <span style="font-size:14px; color:gray;">
                                Region:&nbsp;
                                <span class="badge" style="font-weight:normal;">South East Asia</span>
                            </span>
                            <br />
                            <span style="font-size:14px; color:gray;">
                                Published by:&nbsp;<span style="color:#f25a2b">Unpublished</span>
                            </span>
                        </h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.
                        </p>
                        <a class="btn btn-primary" href="~/Home/SampleEdgeReviewView">View</a>
                        <a class="btn btn-warning" href="~/Home/EditEdgeReview">Edit</a>
                        <a class="btn btn-success" href="javascript:void(0);">Publish</a>
                        <br />
                        <div style="margin-top:10px;">
                            <span style="font-size:11px; color:gray;">
                                Created on:&nbsp;Sunday, January 12, 2017 10:30 AM by PAS Administrator
                            </span>
                            <br />
                            <span style="font-size:11px; color:gray;">
                                Updated on:&nbsp;Sunday, January 12, 2017 10:30 AM by PAS Administrator
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="well padding-10">
                <h5 class="margin-top-0">Disciplines & Topics</h5>
                <ul class="no-padding list-unstyled">
                    <li>
                        <b><a href="javascript:void(0);" class="margin-top-0">Accounting & Taxation (11)</a></b>
                        <br />
                        <a href="javascript:void(0);" class="margin-top-0">&nbsp;&nbsp;&nbsp; - Taxation (3)</a>
                        <br />
                        <a href="javascript:void(0);" class="margin-top-0">&nbsp;&nbsp;&nbsp; - Financial Accounting (8)</a>
                    </li>
                    <li>
                        <b><a href="javascript:void(0);" class="margin-top-0">Business Fundamentals (100)</a></b>
                        <br />
                        <a href="javascript:void(0);" class="margin-top-0">&nbsp;&nbsp;&nbsp; - Accounting (50)</a>
                        <br />
                        <a href="javascript:void(0);" class="margin-top-0">&nbsp;&nbsp;&nbsp; - Management (44)</a>
                        <br />
                        <a href="javascript:void(0);" class="margin-top-0">&nbsp;&nbsp;&nbsp; - MIS (6)</a>
                    </li>
                    <li>
                        <b><a href="javascript:void(0);" class="margin-top-0">Business Law (5)</a></b>
                        <br />
                        <a href="javascript:void(0);" class="margin-top-0">&nbsp;&nbsp;&nbsp; - Securities (1)</a>
                        <br />
                        <a href="javascript:void(0);" class="margin-top-0">&nbsp;&nbsp;&nbsp; - Intellectual Property (1)</a>
                        <br />
                        <a href="javascript:void(0);" class="margin-top-0">&nbsp;&nbsp;&nbsp; - Environment (1)</a>
                        <br />
                        <a href="javascript:void(0);" class="margin-top-0">&nbsp;&nbsp;&nbsp; - Healthcare (1)</a>
                        <br />
                        <a href="javascript:void(0);" class="margin-top-0">&nbsp;&nbsp;&nbsp; - Anti-trust (1)</a>
                    </li>
                </ul>
            </div>
            <div class="well padding-10">
                <h5 class="margin-top-0">Sectors</h5>
                <ul class="no-padding list-unstyled">
                    <li>
                        <a href="javascript:void(0);" class="margin-top-0">Consumer Goods and Services (44)</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="margin-top-0">Energy (33)</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="margin-top-0">Financial Services (120)</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="margin-top-0">Government (88)</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="margin-top-0">Healthcare (40)</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="margin-top-0">Manufacturing (3)</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="margin-top-0">Sports and Entertainment (56)</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="margin-top-0">Technology (200)</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="margin-top-0">Transportation (2)</a>
                    </li>
                </ul>
            </div>
            <div class="well padding-10">
                <h5 class="margin-top-0">Competencies</h5>
                <ul class="no-padding list-unstyled">
                    <li>
                        <a href="javascript:void(0);" class="margin-top-0">Communication (12)</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="padding-top-5 display-block">Critical Thinking/Decision-Making (8)</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="margin-top-0">Ethics (33)</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="margin-top-0">Global Awareness (55)</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="margin-top-0">Innovation/Entrepreneurship (44)</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="margin-top-0">Leadership (11)</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="margin-top-0">Sustainability (10)</a>
                    </li>
                </ul>
            </div>
            <div class="well padding-10">
                <h5 class="margin-top-0">Regions</h5>
                <ul class="no-padding list-unstyled">
                    <li>
                        <a href="javascript:void(0);" class="margin-top-0">Africa (35)</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="margin-top-0">Asia/Oceania (100)</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="margin-top-0">Europe (55)</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="margin-top-0">Latin America (243)</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="margin-top-0">North America (123))</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="margin-top-0">The Middle East (44)</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>