<!-- PAGE FOOTER -->
<div class="page-footer">
    <div class="row" style="margin-top:0px;">
        <div class="col-xs-12 col-sm-12">
            <span class="txt-color-white">
                <span style="font-size:11px;">B-School Connection - Education Resource Center. @DateTime.Now.Year Peregrine Academic Services™ LLC.</span>
            </span>
        </div>
    </div>
</div>
<!-- END PAGE FOOTER -->