<div id="hide-menu" class="btn-header pull-right">
    <span> 
        <a href="" data-action="toggleMenu" title="Collapse Menu">&nbsp;<i class="fa fa-reorder"></i>&nbsp;</a>
    </span>
</div>
<div id="logout" class="btn-header pull-right">
    <span> 
        <a href="@Url.Action("login", "account")" title="Logout" data-action="userLogout" data-logout-msg="">&nbsp;<i class="fa fa-sign-out"></i>&nbsp;</a>
    </span>
</div>