<div id="content">
    <!-- row -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div>
                <a href="@Url.Action("CreateIssue", "Issues")" class="btn btn-default pull-right" style="margin-top: 8px; padding:2px 15px;">
                    <i class="fa fa-plus-circle" style="color:#8ec640;"></i>&nbsp;Create New
                </a>
            </div>
            <h1 class="page-title">
                <i class="fa-fw fa fa-calendar"></i> Issues
            </h1>            
        </div>
    </div>
    <!-- end row -->
    <div class="row">
        <div class="col-sm-9">
            <div class="well padding-10">
                <div class="row">
                    <div class="col-md-3">
                        <img src="~/img/articles/article-1.png" class="img-responsive" alt="img">
                    </div>
                    <div class="col-md-9 padding-left-0">
                        <h3 class="margin-top-0">
                            <a href="javascript:void(0);">Issue 04-10-17&nbsp;(<span class="fa fa-check" style="color:green;"></span>)</a>
                            <br />
                            <span style="font-size:14px; color:gray;">
                                Articles:&nbsp;
                                <br />
                                <ul>
                                    <li>
                                        <a href="javascript:void(0);">America’s Retailers Are Closing Stores Faster Than Ever (1) (<span class="fa fa-check" style="color:green;"></span>)</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">Hacking the Need for a Full-Time Job (1) (<span class="fa fa-check" style="color:green;"></span>)</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">Lies, Damn Lies, and Financial Statistics (3) (<span class="fa fa-check" style="color:green;"></span>)</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">The Taming of a Teen Emporium (1) (<span class="fa fa-check" style="color:green;"></span>)</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">Show Us Your Tax Reforms (1) (<span class="fa fa-check" style="color:green;"></span>)</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">How Much Is a Miracle Worth? (1) (<span class="fa fa-remove" style="color:red;"></span>)</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">Nice Stent If You Can Get It (1) (<span class="fa fa-remove" style="color:red;"></span>)</a>
                                    </li>
                                </ul>
                            </span>
                        </h3>
                        <a class="btn btn-warning" href="~/Issues/EditIssue">Edit</a>
                        <a class="btn btn-danger" href="javascript:void(0);">Delete</a>
                        <br />
                        <div style="margin-top:10px;">
                            <span style="font-size:11px; color:gray;">
                                Created on:&nbsp;Sunday, January 12, 2017 10:30 AM by PAS Administrator
                            </span>
                            <br />
                            <span style="font-size:11px; color:gray;">
                                Updated on:&nbsp;Sunday, January 12, 2017 10:30 AM by PAS Administrator
                            </span>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-3">
                        <img src="~/img/articles/article-2.png" class="img-responsive" alt="img">
                    </div>
                    <div class="col-md-9 padding-left-0">
                        <h3 class="margin-top-0">
                            <a href="javascript:void(0);">Issue 01-10-17&nbsp;(<span class="fa fa-check" style="color:green;"></span>)</a>
                            <br />
                            <span style="font-size:14px; color:gray;">
                                Articles:&nbsp;
                                <br />
                                <ul>
                                    <li>
                                        <a href="javascript:void(0);">America’s Retailers Are Closing Stores Faster Than Ever (1)</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">Hacking the Need for a Full-Time Job (1) (<span class="fa fa-check" style="color:green;"></span>)</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">How Much Is a Miracle Worth? (2) (<span class="fa fa-check" style="color:green;"></span>)</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">Nice Stent If You Can Get It (0) (<span class="fa fa-check" style="color:green;"></span>)</a>
                                    </li>
                                </ul>
                            </span>
                        </h3>
                        <a class="btn btn-warning" href="~/Issues/EditIssue">Edit</a>
                        <a class="btn btn-danger" href="javascript:void(0);">Delete</a>
                        <br />
                        <div style="margin-top:10px;">
                            <span style="font-size:11px; color:gray;">
                                Created on:&nbsp;Sunday, January 12, 2017 10:30 AM by PAS Administrator
                            </span>
                            <br />
                            <span style="font-size:11px; color:gray;">
                                Updated on:&nbsp;Sunday, January 12, 2017 10:30 AM by PAS Administrator
                            </span>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-3">
                        <img src="~/img/articles/article-3.png" class="img-responsive" alt="img">
                    </div>
                    <div class="col-md-9 padding-left-0">
                        <h3 class="margin-top-0">
                            <a href="javascript:void(0);">Issue 04-10-17&nbsp;(<span class="fa fa-remove" style="color:red;"></span>)</a>
                            <br />
                            <span style="font-size:14px; color:gray;">
                                Articles:&nbsp;
                                <br />
                                <ul>                                    
                                    <li>
                                        <a href="javascript:void(0);">The Taming of a Teen Emporium (2) (<span class="fa fa-check" style="color:green;"></span>)</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">Show Us Your Tax Reforms (1) (<span class="fa fa-remove" style="color:red;"></span>)</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">How Much Is a Miracle Worth? (0) (<span class="fa fa-check" style="color:green;"></span>)</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">Nice Stent If You Can Get It (0) (<span class="fa fa-check" style="color:green;"></span>)</a>
                                    </li>
                                </ul>
                            </span>
                        </h3>
                        <a class="btn btn-warning" href="~/Issues/EditIssue">Edit</a>
                        <a class="btn btn-danger" href="javascript:void(0);">Delete</a>
                        <br />
                        <div style="margin-top:10px;">
                            <span style="font-size:11px; color:gray;">
                                Created on:&nbsp;Sunday, January 12, 2017 10:30 AM by PAS Administrator
                            </span>
                            <br />
                            <span style="font-size:11px; color:gray;">
                                Updated on:&nbsp;Sunday, January 12, 2017 10:30 AM by PAS Administrator
                            </span>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-3">
                        <img src="~/img/articles/article-4.png" class="img-responsive" alt="img">
                    </div>
                    <div class="col-md-9 padding-left-0">
                        <h3 class="margin-top-0">
                            <a href="javascript:void(0);">Issue 04-23-17&nbsp;(<span class="fa fa-check" style="color:green;"></span>)</a>
                            <br />
                            <span style="font-size:14px; color:gray;">
                                Articles:&nbsp;
                                <br />
                                <ul>                                    
                                    <li>
                                        <a href="javascript:void(0);">Hacking the Need for a Full-Time Job (1) (<span class="fa fa-check" style="color:green;"></span>)</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">Lies, Damn Lies, and Financial Statistics (1) (<span class="fa fa-check" style="color:green;"></span>)</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">The Taming of a Teen Emporium (1) (<span class="fa fa-check" style="color:green;"></span>)</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">Show Us Your Tax Reforms (1) (<span class="fa fa-check" style="color:green;"></span>)</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">How Much Is a Miracle Worth? (1) (<span class="fa fa-check" style="color:green;"></span>)</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">Nice Stent If You Can Get It (1) (<span class="fa fa-remove" style="color:red;"></span>)</a>
                                    </li>
                                </ul>
                            </span>
                        </h3>
                        <a class="btn btn-warning" href="~/Issues/EditIssue">Edit</a>
                        <a class="btn btn-danger" href="javascript:void(0);">Delete</a>
                        <br />
                        <div style="margin-top:10px;">
                            <span style="font-size:11px; color:gray;">
                                Created on:&nbsp;Sunday, January 12, 2017 10:30 AM by PAS Administrator
                            </span>
                            <br />
                            <span style="font-size:11px; color:gray;">
                                Updated on:&nbsp;Sunday, January 12, 2017 10:30 AM by PAS Administrator
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="well padding-10">
                <h5 class="margin-top-0"><i class="fa fa-search"></i>&nbsp;Search</h5>
                <div class="input-group col-sm-12 col-md-12 col-lg-12">
                    <input type="text" class="form-control" placeholder="Search by Article Title" 
                        data-autocomplete='[
			                "America’s Retailers Are Closing Stores Faster Than Ever",
			                "Hacking the Need for a Full-Time Job",
			                "Lies, Damn Lies, and Financial Statistics",
			                "The Taming of a Teen Emporium",
			                "Show Us Your Tax Reforms"]' />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <div class="input-group col-sm-12 col-md-12 col-lg-12" style="margin-top:6px;">
                    <b style="font-size:10px;">FILTER BY</b>
                </div>
                <div class="input-group col-sm-12 col-md-12 col-lg-12" style="margin-top:6px;">
                    <select class="select2" multiple placeholder="Issue Month">
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                </div>
                <div class="input-group col-sm-12 col-md-12 col-lg-12" style="margin-top:6px;">
                    <select class="select2" multiple placeholder="Issue Year">
                        <option value="1">2017</option>
                        <option value="2">2016</option>
                        <option value="3">2015</option>
                        <option value="4">2014</option>
                        <option value="5">2013</option>
                        <option value="6">2012</option>
                        <option value="7">2011</option>
                    </select>
                </div> 
            </div>
        </div>
    </div>
</div>